@{
    ViewData["Title"] = "Main Page";
}

<h2>Calculator Service Demo</h2>
<ul>
    <li><a asp-area="" asp-controller="Site" asp-action="CalculatorWithModel">Model-Based Calculator</a></li>
    <li><a asp-area="" asp-controller="Site" asp-action="CalculatorWithViewData">ViewData Calculator</a></li>
    <li><a asp-area="" asp-controller="Site" asp-action="CalculatorWithViewBag">ViewBag Calculator</a></li>
    <li><a asp-area="" asp-controller="Site" asp-action="CalculatorWithInjection">Service Injection Calculator</a></li>
</ul>

<ul>
    <li><a asp-controller="Home" asp-action="ModelCalc">Using Model Calc</a></li>
    <li><a asp-controller="Home" asp-action="ViewDataCalc">Using ViewData Calc</a></li>
    <li><a asp-controller="Home" asp-action="ViewBagCalc">Using ViewBag Calc</a></li>
    <li><a asp-controller="Home" asp-action="InjectionCalc">Using Service Injection Calc</a></li>
</ul>