* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: 'Arial';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    color: #ffffff;
    background-color: green;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

.content {
    flex: auto 1 1;
    display: flex;
    margin: 0 430px;
}

.content_container {
    display: flex;
}

.content_sidebar {
    flex: 30% 0 0;
    background-color: red;
    padding: 20px 10px 20px 40px;
}

.nav {
    display: grid;
    gap: 10px;
}

.nav_item_link {
    color: #fff;
    transition: background-color 0.3s ease-out;
}

.nav_item_link:hover {
    background-color: green;
}

.content_text {
    flex: auto 1 1;
    padding: 20px 20px 5px 20px;
    text-align: justify;
}

.content_text::first-letter {
    font-size: 130%;
    color: red;
}

.content_text::selection {
    background-color: green;
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 12px 0;
    text-align: center;
}

@media (max-width: 1400px) {
  
    .content {
        margin: 0px 200px;
    }
}
@media (max-width: 1000px) {
  
    .content {
        margin: 0px;
    }
}