* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.objects {
    max-width: 600px;
}

.objects_item {
    display: flex;
}

.objects_item input {
    padding: 0 5px;
}

.objbutton {
    width: 25px;
    padding: 3px;
}

.objects_actions button {
    padding: 2px;
    display: block;
}

.objects_saved {
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 2px;
}