.prime-container {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

.container2-6-1 {
    background-color: #ffffff;
    text-align: left;
    width: 600px;
    margin: 20px auto;
    padding: 0; 
    display: block;
}

.container2-6-2 {
    background-color: #ffffff;
    text-align: left;
    width: 440px;
    margin: 10px auto;
    padding: 70px; 
    border: 10px solid blue;
    display: block;
}